{
	"plugins": [
		"prettier",
		"@typescript-eslint/tslint"
	],
	"extends": [
		"airbnb-typescript",
		"prettier",
		"prettier/react",
		"plugin:prettier/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"settings": {},
	"rules": {
		"no-use-before-define": [
			"error",
			{
				"variables": false
			}
		],
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"@typescript-eslint/indent": [
			"error",
			"tab"
		],
		"switch-colon-spacing": [
			"error",
			{
				"after": false,
				"before": false
			}
		],
		"react/jsx-indent-props": [
			1,
			"tab"
		],
		"object-curly-spacing": [
			"warn",
			"always"
		],
		"no-unused-vars": [
			"warn",
			{
				"vars": "all",
				"args": "none"
			}
		],
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"vars": "all",
				"args": "none"
			}
		],
		"@typescript-eslint/no-explicit-any": [
			"error",
			{
				"ignoreRestArgs": true
			}
		],
		"max-len": [
			"warn",
			{
				"code": 120,
				"ignoreStrings": true,
				"ignoreTemplateLiterals": true,
				"ignoreComments": true
			}
		],
		"no-plusplus": [
			"error",
			{
				"allowForLoopAfterthoughts": true
			}
		],
		"react/jsx-key": "error",
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": [
					"**/*.test.js",
					"**/*.test.jsx",
					"**/*.test.ts",
					"**/*.test.tsx",
					"src/tests/**/*"
				]
			}
		],
		"react/jsx-props-no-spreading": "off",
		"import/prefer-default-export": "off",
		"react/jsx-boolean-value": "off",
		"react/prop-types": "off",
		"react/no-unescaped-entities": "off",
		"react/jsx-one-expression-per-line": "off",
		"react/jsx-wrap-multilines": "off",
		"react/destructuring-assignment": "off"
	},
	"globals": {
		"localStorage": true
	},
	"env": {
		"browser": true,
		"node": true
	}
}